<div class="admin__form">
    <div class="container mt-4">
        <h2>Thêm bài đăng</h2>
        <form method="POST" action="/post/store">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="title" class="form-control" id="title">
            </div>
            <div class="mb-3">
                <label for="thumb" class="form-label">thumb</label>
                <input type="text" name="thumb" class="form-control" id="thumb">
            </div>
            <div class="mb-3">
                <label for="content1" class="form-label">content1</label>
                <textarea type="text" name="content1" class="form-control" id="content1" style="height:200px;"></textarea>
            </div>
            <div class="mb-3">
                <label for="content2" class="form-label">content2</label>
                <textarea type="text" name="content2" class="form-control" id="content2" style="height:200px;"></textarea>
            <div class="mb-3">
                <label for="author" class="form-label">author</label>
                <input type="text" name="author" class="form-control" id="author">
            </div>
            <button type="submit" class="btn btn-primary">Thêm</button>
        </form>
    </div>
</div>