<div class="p-5" >
    <form>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Search</label>
          <input type="text" class="form-control" id="exampleInputPassword1" name="q">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>